{% include 'philosofia/partial/head.html' %}

<body>

{% include 'philosofia/partial/header.html' %}
{% include 'philosofia/partial/search.html' %}


<main class="main-content-container">
    <div class="main-content main-content-list container">
      {% include 'philosofia/partial/meditation.html' %}
      {% include 'philosofia/partial/footer.html' %}
    </div>
    <div class="main-content main-content-list container">
        {% include 'philosofia/partial/meditation.html' %}
        {% include 'philosofia/partial/footer.html' %}
    </div>
    <div class="main-content main-content-list container">
        {% include 'philosofia/partial/meditation.html' %}
        {% include 'philosofia/partial/footer.html' %}
     </div>
      
    
    
  </main>

  

</body>

</html>